/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* =============================================================
   Base Styles
   ============================================================= */

/* Apply box-sizing to all elements and pseudo-elements */
*,
*::before,
*::after {
	box-sizing: border-box;
}

::placeholder, 
input::placeholder,
textarea::placeholder {
	color: #333;
	opacity: 1;
}

label {
	color: #333 !important;
	font-family: 'Poppins', sans-serif;
}

nav .brand-logo {
	font-size: 1em;
}

/* Set default font and layout for body */
body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow-wrap: anywhere;
	-webkit-hyphens: auto;
	hyphens: auto;
}

/* Main Content Area */
main {
	flex: 1 0 auto;
}

/* General Image Styling */
img {
	padding: 10px;
}

/* Form Elements */
form {
	padding: 20px;
}

/* Input Fields */
input {
	width: 100%;
	margin-bottom: 5px;
}

/* Fonts for headings */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.links {
	position: relative;
	color: #000;
	text-decoration: none;
}

.links::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 1px;
	background-color: #b71c1c;
	transition: width 0.3s;
}

.links:hover::after {
	width: 100%;
}
/* =============================================================
   Awesomeplete styles
   ============================================================= */

.awesomplete {
	display: unset;
}
/* Required to resolve an issue in FireFox */
.awesomplete > input {
	display: inline-block;
}
/* =============================================================
   Layout Components
   ============================================================= */

/* Navigation Bar */
nav {
	background-color: #992d38 !important;
}

/* Navigation Wrapper and Footer Styling */
.nav-wrapper,
.page-footer {
	font-family: 'Rubik', sans-serif;
	background-color: #992d38 !important;
	font-size: 1.5em;
}

/* =============================================================
   Navigation Styles
   ============================================================= */

/* Adjust brand logo */
.brand-logo {
	font-size: 1.8rem;
	padding-left: 15px;
}

/* Navbar Links */
nav ul a {
	font-size: 1em;
	color: #ffffff;
	transition: color 0.3s ease, background-color 0.3s ease;
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Hover effect for navbar links */
nav ul a:hover {
	color: #ffffff;
	background-color: #6d1b1b;
	text-decoration: none;
}

/* Active link for navbar */
nav ul a.active {
	background-color: #b71c1c;
	color: #ffffff;
	text-decoration: underline;
}

/* On click state for navbar links */
nav ul a:active {
	background-color: #6d1b1b;
	color: #ffffff;
}

/* Fix Dropdown width */ 
.dropdown-content {
	min-width: 100%;
	min-width: -webkit-fill-available;
	min-width: fit-content;
}

/* =============================================================
   Footer Styles
   ============================================================= */

/* Footer Links */
.page-footer a {
	color: #ffffff;
	transition: color 0.3s ease, background-color 0.3s ease;
	padding: 10px 15px;
	border-radius: 4px;
	text-decoration: none;
}

/* Hover effect for footer links */
.page-footer a:hover {
	color: #ffffff;
	background-color: #6d1b1b;
	font-weight: bold;
	text-decoration: none;
}

/* Active link for footer */
.page-footer a.active {
	background-color: #b71c1c;
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}

/* On click state for footer links */
.page-footer a:active {
	background-color: #6d1b1b;
	color: #ffffff;
	font-weight: bold;
}

/* =============================================================
   General Layout Components
   ============================================================= */

/* Image Container */
.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

/* Site Logo */
.site-logo {
	max-width: 100%;
}

/* Pagination Active State */
.pagination li.active {
	background-color: #b71c1c;
}

.pagination {
	font-size: 0.1rem;
	padding-bottom: 30px;
}

/* =============================================================
   Modal Styles
   ============================================================= */

/* Remove padding from modals */
.modal-content {
	padding: 0 !important;
}

.modal-footer {
	text-align: center !important;
}

/* Remove Scrollbars from Admin Modals */
.admin-modal {
	overflow: hidden;
}

/* Warning Message */
.warning-message {
	background-color: #FFB5BD;
	color: #ffffff;
	border: 3px solid #B71C1C;
	padding: 20px;
	margin: 10px;
	border-radius: 8px;
	font-size: 1.2rem;
	text-align: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Warning Message Title */
.warning-title {
	font-size: 1.5rem;
	font-weight: bold;
}

/* Icon in Warning Title */
.warning-title i {
	margin-right: 8px;
}

/* Paragraphs in Warning Message */
.warning-message p {
	margin: 10px 0;
}

/* Strong Text in Warning Message */
.warning-message strong {
	color: #ffffff;
}

/* Modal Warning Message Styles */
.warning-message .modal {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffebee;
	color: #c62828;
}

/* Add space between the icon and text in the modal */
.warning-message .modal i {
	margin-right: 10px;
}

/* =============================================================
   Carousel Styles
   ============================================================= */

/* Carousel Container */
.carousel-container {
	justify-content: center;
	align-items: center;
}

/* Carousel Title */
.carousel-title {
	align-items: center;
}

/* =============================================================
   Button Styles
   ============================================================= */

/* Button Styles */
.btn {
	margin: 5px;
	position: relative;
}

/* Large Button */
.btn-large {
	margin-top: 15px;
}

/* Adjust inline search to have a top margin */
.inline-search-button {
	margin-top: 15px;
}
/* remove float from file-field button */
.file-field .btn {
	float: none;
}

/* Button Hover */
button:hover,
.btn-small:hover,
.btn:hover {
	filter: brightness(70%);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease-in-out;
}

/* Styles for disabled buttons */
.btn:disabled,
.btn.disabled,
.btn-small.disabled {
	background-color: #4a4a4a !important;
	color: #ffffff !important;
	pointer-events: none;
	opacity: 0.8;
	cursor: not-allowed;
}

/* Tooltip Container Styling */
.tooltip-container {
	position: relative;
	display: inline-block;
	cursor: not-allowed;
}

/* Tooltip styling using data-tooltip attribute on the container */
.tooltip-container[data-tooltip]:hover::after,
.tooltip-container[data-tooltip]:focus::after {
	content: attr(data-tooltip);
	position: absolute;
	bottom: 125%;
 /* Position above the container */
	left: 50%;
	transform: translateX(-50%);
	background-color: #555;
	color: #fff;
	padding: 5px 10px;
	border-radius: 6px;
	white-space: nowrap;
	opacity: 1;
	transition: opacity 0.3s;
	pointer-events: none;
 /* Prevent tooltip from capturing pointer events */
	z-index: 1000;
}

/* Tooltip arrow */
.tooltip-container[data-tooltip]:hover::before,
.tooltip-container[data-tooltip]:focus::before {
	content: '';
	position: absolute;
	bottom: 115%;
	left: 50%;
	transform: translateX(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
	opacity: 1;
	transition: opacity 0.3s;
	pointer-events: none;
	z-index: 1000;
}

/* Initially hide tooltips */
.tooltip-container[data-tooltip]::after,
.tooltip-container[data-tooltip]::before {
	opacity: 0;
}

/* Optional: Ensure tooltips are above other elements */
.tooltip-container[data-tooltip]::after,
.tooltip-container[data-tooltip]::before {
	pointer-events: none;
}

/* =============================================================
   Account Page Components
   ============================================================= */

.user-form {
	padding: 14px !important;
}

/* =============================================================
   Recipe Card Styles
   ============================================================= */

/* Add padding to the card at the top of the recipe page */ 
.top-recipe-card {
	padding-left: 10px;
	padding-right: 10px;
}

/* Add recipe/paint titles */
.card-content .card-title.add-cards {
	font-size: 1.5em;
}

.add-card-feature {
	padding: 10px;
}

/* Recipe Title */
.recipe-title {
	font-size: 1.6rem;
	line-height: 1.2;
	max-height: 3.6rem;
 /* Allows two lines for wrapping longer names */
	overflow: hidden;
	overflow-wrap: break-word;
 /* Ensures multi-word names wrap within bounds */
	display: -webkit-box;
	white-space: normal;
 /* Allows wrapping */
	text-overflow: ellipsis;
	padding: 0 10px;
	margin-block-start: 0.1em;
	margin-block-end: 0.1em;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/* Ensure the card column has enough height */
.card {
	min-height: 250px;
	border-radius: 7px;
}

/* Recipe Card Image */
.recipe-card-img {
	object-fit: cover;
	max-height: 180px;
 /* Adjust image height for title space */
	width: 100%;
}

/* Recipe Cards Container */
.recipe-cards .card {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* Recipe Card Image Section */
.recipe-cards .card-image {
	flex: 0 0 auto;
	overflow: hidden;
}

/* Recipe Card Content Section */
.recipe-cards .card-content {
	flex: 1;
	overflow: hidden;
	text-align: center;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

/* Card Reveal */
.card .card-reveal {
	padding: 14px;
}

/* Card Reveal Text */
.card .card-reveal p {
	overflow-y: auto;
}

.card .card-content {
	padding: 10px;
}

.card .card-title {
	font-size: 1em;
}

.row-height {
	height: max-content;
}


/* =============================================================
   List Styles
   ============================================================= */

/* Inline Lists */
.inline-lists {
	display: flex;
	list-style-type: none;
	justify-content: center;
}

/* List Items in Inline Lists */
.inline-lists li {
	margin-right: 10px;
}

/* =============================================================
   Text Formatting
   ============================================================= */

/* Preserve Whitespace */
.preserve-whitespace {
	white-space: pre-line;
}

/* =============================================================
   Custom Text Field
   ============================================================= */

.custom-textarea-field {
	position: relative;
	margin-top: 1.5rem;
}

.custom-textarea {
	display: block;
	width: 100%;
	padding: 0.8rem;
	border: 1px solid #9e9e9e;
	border-radius: 2px;
	background-color: transparent;
	font-size: 1rem;
	transition: border-color 0.3s;
	box-sizing: border-box;
	min-height: 4rem;
	resize: none;
}

.custom-textarea:focus {
	border-color: #26a69a;
	box-shadow: 0 1px 0 0 #26a69a;
	outline: none;
}

.custom-textarea-field label {
	position: absolute;
	top: -14px;
	left: 0;
	font-size: 0.8rem;
	color: #9e9e9e;
	transition: 0.2s ease-out;
	pointer-events: none;
}

.custom-textarea:focus + label,
.custom-textarea:not(:placeholder-shown) + label {
	color: #26a69a;
	font-size: 0.75rem;
	top: -20px;
}


/* =============================================================
   Collapsible Components
   ============================================================= */

/* Collapsible Body */
.collapsible-body {
	padding: 16px;
	box-sizing: border-box;
	overflow-wrap: anywhere;
	word-wrap: anywhere;
	white-space: normal;
	overflow: hidden;
}

  /* Ensure proper layout of collapsible rows */
.collapsible-body .row {
	flex-direction: column;
	align-items: flex-start;
}

/* Collapsible Body Images */
.collapsible-body img {
	align-items: center;
	max-width: 100%;
	height: auto;
}

/* Caret Icon */
.caret-icon {
	transition: transform 0.3s ease;
	display: inline-block;
}

/* Rotate Caret Icon when Active */
.collapsible-header .active .caret-icon {
	transform: rotate(90deg);
}

/* =============================================================
   Utility Classes
   ============================================================= */

/* Hidden Elements */
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip-path: inset(0 0 0 0);
	overflow: hidden;
}

/* =============================================================
   Admin Panel Styles
   ============================================================= */

/* Admin Text */
.admin-text {
	margin-right: 10px;
}

/* Admin Delete Wrap Container */
.admin-delete-wrap {
	display: flex;
 /* Make it a flex container */
	flex-direction: column;
 /* Stack items vertically by default (mobile-first) */
	align-items: center;
 /* Center items horizontally */
	gap: 10px;
 /* Space between items */
	;
}

/* Add spacing between admin delete wrap divs */
.admin-delete-wrap > * {
	margin-bottom: 10px;
}

.admin-switch {
	display: flex;
	align-items: center;
}

/* Admin Switch Layout */
.admin-switch {
	display: flex;
	align-items: center;
}

/* Label Next to Admin Toggle */
.switch-label {
	margin-right: 10px;
}

/* =============================================================
   Navbar Search Styles
   ============================================================= */

/* Style the search form within dropdowns */
.dropdown-content .search-form {
	padding: 10px;
	background-color: #992d38;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	width: 500px;
}

/* Style the input field */
.dropdown-content .search-form input[type="search"] {
	width: 100%;
	color: #000;
	padding: 8px 10px 8px 10px;
	border: 1px solid #000;
	border-radius: 4px;
	background-color: #fff;
	box-sizing: border-box;
	font-size: 1em;
}

.dropdown-content .search-form .fa-times:hover {
	color: #000;
}

/* Optional: Adjust the label color for better visibility */
.dropdown-content .search-form label {
	color: #333;
}

/* =============================================================
   Search Form Styles
   ============================================================= */

  /* Placeholder Text Style When Input is Focused (Mobile) */
.mobile-search::placeholder {
	color: #000000;
	opacity: 1;
}

.page-search {
	width: auto !important;
}

/* =============================================================
   Recipe Description Styles
   ============================================================= */

 /* Adjust card row layout */
.card-row {
	display: block;
}

/* Adjust card description layout */
.card-description {
	display: block;
	justify-content: flex-start;
}

/* Center-align the main recipe description text */
.recipe-description-text {
	text-align: center;
}

/* =============================================================
   Text fields
   ============================================================= */

.file-input-container {
	display: none;
}

.input-field label {
	font-size: 0.7rem;
}

/* =============================================================
   Scrollable text fields
   ============================================================= */

/* Scrollable Text Area */
.scrollable-textarea {
	max-height: 150px;
	overflow-y: auto;
	resize: vertical;
}

/* Optional: Customize Scrollbar for WebKit Browsers */
.scrollable-textarea::-webkit-scrollbar {
	width: 6px;
}

.scrollable-textarea::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 3px;
}

.scrollable-textarea::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 3px;
}

.scrollable-textarea::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.scrollable-textarea {
	max-height: 200px;
	overflow-y: auto;
	resize: vertical;
}

/* =============================================================
   Media Queries
   ============================================================= */

@media (min-width: 358px) {
 
	nav .brand-logo {
		font-size: 1.25em;
	}
}

@media (min-width: 600px) {
  /* Main Content Area */
	main {
		max-width: 70% !important;
	}

	/* Adjust card height and layout for medium screens */
	.recipe-cards .card {
		min-height: 350px;
	}

	/* Adjust recipe title size for readability */
	.recipe-title {
		font-size: 1.6rem;
	}

	/* Adjust image height for balance */
	.recipe-card-img {
		max-height: 180px;
	}
}

@media (min-width: 640px) {
	.recipe-cards .card {
		min-height: 380px;
	}
}

@media (min-width: 730px) {
	.recipe-cards .card {
		min-height: 400px;
	}
}

@media (min-width: 780px) {
	.recipe-cards .card {
		min-height: 475px;
	}
}

@media (min-width: 992px) {
  /* Main Content Area */
	main {
		max-width: 1400px !important;
	}

  /* Logo adjustment on larger screens */
	nav .brand-logo {
		padding-left: 5px !important;
	}

    /* Adjust card height and layout for large screens */
	.recipe-cards .card {
		min-height: 400px;
	}

    /* Larger title font for larger screens */
	.recipe-title {
		font-size: 1.6rem;
	}

    /* Image max height for large screens */
	.recipe-card-img {
		max-height: 200px;
	}

  /* Width adjustments for Admin Modals on larger screens */
	.admin-modal {
		width: 600px;
	}
}

@media (min-width: 1066px) {
    /* Adjust card height and layout for large screens */
	.recipe-cards .card {
		min-height: 485px;
	}	

	/* Main Content Area */
	.recipe-title {
		font-size: 1.8rem;
		max-height: 2.5em;
	}
}

@media (min-width: 1468px) {
    /* Adjust card height and layout for large screens */
	.recipe-cards .card {
		height: 605px;
	}
}