@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: poppins;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Ensure the card column has enough height */
.card {
  min-height: 200px; 
}

.recipe-card-img {
  object-fit: cover;  
  max-height: 200px;  
  width: 100%; 
}

main {
  flex: 1 0 auto;
}

img {
  padding: 10px;
}

.btn-large {
  margin-top: 15px;
 }

nav {
  background-color: #992d38 !important;
}

/* Footer Links */
.page-footer a {
  color: #ffffff; /* Default white text */
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
}

/* Hover effect for footer links */
.page-footer a:hover {
  color: #ffffff;
  background-color: #6d1b1b; /* Darker red for hover */
  font-weight: bold;
  text-decoration: none;
}

/* Active link for footer */
.page-footer a.active {
  background-color: #b71c1c;
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

/* On click state for footer */
.page-footer a:active {
  background-color: #6d1b1b;
  color: #ffffff;
  font-weight: bold;
}

.nav-wrapper,
.page-footer {
  font-family: rubik;
  background-color: #992d38 !important;
  font-size: 1.5em;
}

nav ul a {
  font-size: 1em;
  color: #ffffff;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 4px;
}

/* Hover effect for navbar */
nav ul a:hover {
  color: #ffffff;
  background-color: #6d1b1b; /* Darker red for hover */
  font-weight: bold;
  text-decoration: none;
}

/* Active link for navbar */
nav ul a.active {
  background-color: #b71c1c;
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

/* On click state for navbar */
nav ul a:active {
  background-color: #6d1b1b;
  color: #ffffff;
  font-weight: bold;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.site-logo {
  max-width: 100%;
}

.pagination li.active {
  background-color: #b71c1c;
}

.warning-message {
  background-color: #FFB5BD; 
  color: #ffffff; 
  border: 3px solid #B71C1C; 
  padding: 20px; 
  border-radius: 8px; 
  font-size: 1.2rem; 
  text-align: center; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.warning-title {
  font-size: 1.5rem; 
  font-weight: bold; 
}

.warning-title i {
  margin-right: 8px; 
}

.warning-message p {
  margin: 10px 0;
}

.warning-message strong {
  color: #ffffff; 
}


.carousel-container {
  justify-content: center;
  align-items: center;
}

.carousel-title {
  align-items: center;
}

form {
  padding: 20px;
}

input {
  width: 100%;
  margin-bottom: 5px;
}

.col.s6.m4.recipe-cards {
  display: flex;
  flex-direction: column;
}

.inline-lists {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.inline-lists li {
  margin-right: 10px;
}

/* Preserves line breaks but collapses other whitespace */
.preserve-whitespace {
  white-space: pre-line;
}

.collapsible-body {
  padding: 16px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.collapsible-body img {
  align-items: center;
}

.collapsible-body .row {
  display: flex;
  align-items: center;
}

.collapsible-body img {
  max-width: 100%;
  height: auto;
  margin-left: 16px;
}

/* Initial state of the caret icon */
.caret-icon {
  transition: transform 0.3s ease; 
  display: inline-block; 
}

/* Rotate the caret icon when the header is active (opened) */
.collapsible-header.active .caret-icon {
  transform: rotate(90deg); 
}

.admin-text {
  margin-right: 10px;
}

/* Specific to Navbar Search Fields */
.navbar-search {
  font-size: 1em;
  height: auto;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0 !important;
  padding-right: 40px !important;
}

/* Placeholder Text Style for Navbar Search Fields (Desktop and General) */
.navbar-search::placeholder {
  font-size: 1em;
  color: #ffffff; 
  opacity: 1;
}

/* Input Text Style When Focused (Desktop and General) */
.navbar-search:focus {
  font-size: 1em;
  color: #000000; 
}

/* Mobile Specific Styles */
@media (max-width: 600px) {
  /* Ensure proper layout of collapsible rows */
  .collapsible-body .row {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Placeholder Text Style When Input is Focused (Mobile) */
  .mobile-search::placeholder {
    color: #555555; 
    opacity: 1; 
  }
}
