{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}

<h1 class="center-align">About us</h1>

<div class="image-container">
  <img
    class="site_logo"
    src="{{ url_for('static', filename='images/colour-logo-small.webp') }}"
    alt="Site Logo" >
</div>

<!-- About Us Section --> 
    <div class="row">
      <div class="col s12 center-align">
        <p>Colour Forge is an online paint cataloging and recipe tracking tool created for hobbyists by hobbyists.</p>
        <p>Have you ever moved on from a paint project, to go back to it after a few months and 
           forgotton quite how you've managed to get that cool look on your troops armour?</p> 
        <p>That's where Colour Forge can help!.</p> 
      </div>
      <div class="col s12 center-align">
        <p>Ever been out shopping and remembered you need some paint for a project you're working on, but can't remember what?</p> 
        <p>Check your paint library and see what you're missing</p>
        <p>Curious about how to paint a specific mini or project?</p>
        <p>Check out our users recipes for ideas and inspiration!</p>
        <p>Your recipes are fully sharable with the rest of the world, so if you post an image of a finished mini
          somewhere and someone asks how you got that cool effect, if you've created a recipe, you can link directly
          to it, allowing others to try to recreate the effect.</p>
      </div>
      <div class="col s12 center-align">
        <p>Sound like the kind of thing you may find useful?</p>
        <a href="{{ url_for('auth.register') }}" class="btn waves-effect teal darken-2 waves-light">
          Register Now!
        </a>
      </div>
    </div>

{% endblock %}    