{% extends "base.html" %}
{% block content %}

<h2>Add recipe</h2>
<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" action={{ url_for('add_recipe') }}>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Recipe Name" id="recipe_name" name="recipe_name" minlength="5" maxlength="150" type="text" class="validate" required>
        <label for="recipe_name">Recipe Name</label>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="recipe_desc" name="recipe_desc" class="materialize-textarea" required></textarea>
          <label for="recipe_desc">Recipe Description</label>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="instructions" name="instructions" class="materialize-textarea" required></textarea>
            <label for="instructions">Stage One Instructions</label>
          </div>        
          <button type="button" class="instructions">Add field</button>
        </div>  
        <!-- Final Stage Switch to allow user to set image to be the card image on the recipes page -->
        <div class="row valign-wrapper">
          <div class="col s6 center-align">
            <div class="switch">
              <label>
                <input type="checkbox" name="is_final_stage">
                <span class="lever"></span>
                Use the attached image in the Recipes view
              </label>
            </div>
          </div>
          <div class="col s6 center-align">
            <button type="submit" class="btn-small light-blue darken-1">
              Add Recipe
            </button>
          </div>
        </div>
      </div>
    </div>    
  </form>
</div>

{% endblock %}