{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}

<div class="row">
  <!-- Column for the Heading -->
  <div class="col s6">
    <h3>User Accounts</h3>
  </div>
  
  <!-- Column for the Search Form -->
  <div class="col s6">
    <form>
      <div class="row">
        <!-- Input Field Column -->
        <div class="input-field col s8">
          <input id="search" type="text" class="validate" placeholder="Search..." required>
          <label for="search">Search</label>
        </div>
        
        <!-- Button Column -->
        <div class="input-field col s4" style="margin-top: 20px;">
          <button class="waves-effect waves-light btn-small indigo" type="submit" name="action">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  {% for user in users %}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">User details</span>
          <p>Username: {{ user.username }}</p>
          <p>Email: {{ user.email }}</p>

          <!-- Form to change email -->
          <form method="POST" action="{{ url_for('auth.change_email', user_id=user.id) }}">
            <div class="input-field col s12">
              <input id="email-{{ user.id }}" type="email" name="email" minlength="5" maxlength="55" class="validate" required>
              <label for="email-{{ user.id }}">Email Address</label>
            </div>
            <button type="submit" class="btn">Change Email</button>
          </form>

          <!-- Form to reset password -->
          <form method="POST" action="{{ url_for('auth.reset_password', user_id=user.id) }}">
            <div class="row">
              <div class="input-field col s12">
                <input id="password1-{{ user.id }}" type="password" name="password1" minlength="7" maxlength="100" class="validate" required>
                <label for="password1-{{ user.id }}">Enter Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password2-{{ user.id }}" type="password" name="password2" minlength="7" maxlength="100" class="validate" required>
                <label for="password2-{{ user.id }}">Confirm Password</label>
              </div>
            </div>
            <button type="submit" class="btn">Reset Password</button>
          </form>

          <!-- Form to delete account -->
          <form method="POST" action="{{ url_for('auth.delete_account', user_id=user.id) }}">
            <button type="submit" class="btn red">Delete Account</button>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}