{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}

<div class="row">
  <div class="col s12 center-align">
    
    <h2 class="card-title">{{ user.username }}'s Account</h2>
    <div class="card-stacked">
      <h3>User accounts</h3>
      <p>Username: {{ user.username }}</p>
      <p>email: {{ user.email }}</p>
      <p>Password: add form here</p>
      <button class="btn">Change Email</button>
      <button class="btn">Reset Password</button>
      <button class="btn red">Delete Account</button>
    </div>

  </div>
</div

{% endblock %}