<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      type="text/css"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.css"
    >
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    >
    <title>Colour Forge: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>

      <!-- Desktop Nav -->
      <nav>
        <div class="nav-wrapper">
          <a href="{{ url_for('routes.home') }}" class="brand-logo">Colour Forge</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="fas fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('routes.home') }}">Home</a></li>
            <li><a href="{{ url_for('routes.recipes') }}">My Recipes</a></li>
            <li><a href="{{ url_for('auth.account') }}">Account</a></li>
            {% if current_user.is_admin %}
            <li>
              <a class="dropdown-trigger" href="#!" data-target="dropdown1">Admin Panels</a>
            </li>
            {% endif %}
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            <li><a href="{{ url_for('routes.contact') }}">Contact Us</a></li>
            
            <!-- Search Dropdown Trigger -->
            <li>
              <a class="dropdown-trigger" href="#!" data-target="search-dropdown">Search</a>
            </li>
            {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('routes.contact') }}">Contact Us</a></li>
            {% endif %}
          </ul>
          
          <!-- Existing Dropdown for Admin Panels -->
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ url_for('admin.admin_dash') }}">User Admin</a></li>
            <li><a href="{{ url_for('admin.recipe_admin') }}">Recipe Admin</a></li>
          </ul>
          
          <!-- Search Dropdown Content -->
          <ul id="search-dropdown" class="dropdown-content">
            <li>
              <form action="{{ url_for('routes.search') }}" method="GET" class="search-form">
                <div class="input-field">
                  <input
                    type="search"
                    id="dropdown-search"
                    name="search"
                    placeholder="Search for Recipe Tags..."
                    required
                    autocomplete="off"
                  >
                  <label for="dropdown-search" class="hidden">Search for Recipe Tags...</label>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </nav>
      
      <!-- Mobile Nav-->
      <ul class="sidenav" id="mobile-nav">
        <li class="image-container"><img class="site-logo" src="{{ url_for('static', filename='images/colour-logo-x-small.webp') }}" alt="site logo" ></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('routes.home') }}">Home</a></li>
        <li><a href="{{ url_for('routes.recipes') }}">My Recipes</a></li>
        <li><a href="{{ url_for('auth.account') }}">Account</a></li>
        {% if current_user.is_admin %}
        <li><a href="{{ url_for('admin.admin_dash') }}">User Admin</a></li>
        <li><a href="{{ url_for('admin.recipe_admin') }}">Recipe Admin</a></li>
        {% endif %}
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        <li><a href="{{ url_for('routes.contact') }}">Contact Us</a></li>
        <li>
          <form action="{{ url_for('routes.search') }}" method="GET">
            <div class="input-field">
              <input
                type="search"
                id="mobile-search"
                name="search"
                placeholder="Search for Recipe Tags..."
                class="navbar-search mobile-search"
                required
                autocomplete="off"
              >
            </div>
          </form>
          <label for="mobile-search" class="hidden">Search for Recipe Tags...</label>
        </li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li><a href="{{ url_for('routes.contact') }}">Contact Us</a></li>
        {% endif %}
      </ul>
    </header>

    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="card-panel {% if category == 'error' %}red lighten-2{% else %}green lighten-2{% endif %} flash-message">
              <span class="white-text">{{ message }}</span>
              <a href="#!" class="close-flash right">
                <i class="white-text fas fa-times"></i>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      
      {% block content %}{% endblock %}
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l8 offset-l2 s12 center-align">
            <ul class="inline-lists">
              <li>
                <a 
                  href="https://facebook.com"
                  target="_blank"
                  aria-label="Facebook - (Opens in a new tab)"
                  rel="noopener">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://twitter.com"
                  target="_blank"
                  aria-label="Twitter - (Opens in a new tab)"
                  rel="noopener"
                >
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://instagram.com"
                  target="_blank"
                  aria-label="Instagram - (Opens in a new tab)"
                  rel="noopener"
                >
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://linkedin.com"
                  target="_blank"
                  aria-label="LinkedIn - (Opens in a new tab)"
                  rel="noopener"
                >
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://github.com"
                  target="_blank"
                  aria-label="GitHub - (Opens in a new tab)"
                  rel="noopener"
                >
                  <i class="fab fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
