{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <h1 class="center-align">Contact us</h1>
    <div class="image-container">
      <img
        class="site_logo responsive-img"
        src="{{ url_for('static', filename='images/colour-logo-small.webp') }}"
        alt="Site Logo">
    </div>
    <form class="col s12" id="contact-form" method="POST" action="{{ url_for('routes.contact') }}">
      
      <div class="row">
        <div class="input-field col s12 m6"> 
          <input placeholder="Your Email Address" id="email" type="email" name="sender_email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12 m6"> 
          <input placeholder="Your Name" id="name" type="text" name="sender_name" class="validate">
          <label for="name">Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Email Subject" id="subject" type="text" name="subject" class="validate">
          <label for="subject">Email Subject</label>
        </div>
      </div>
      <div class="row">
        <!-- Custom Textarea -->
        <div class="input-field custom-textarea-field col s12">
            <textarea id="custom_textarea" class="custom-textarea" name="message_content" placeholder="Your Message" rows="6"></textarea>
            <label for="custom_textarea">Your Message</label>
        </div>
    </div>
      </div>
      <div class="center-align">
      <button class="btn waves-effect waves-light teal darken-2 g-recaptcha" data-sitekey="6LfpT2sqAAAAAJlKz8-7QRWuYoGhstvEG5lpCHTp" id="submitButton" type="submit" data-callback='onSubmit' 
        data-action='submit' name="action">
        Submit
      </button>
    </div>
    </form>
  </div>
</div>

{% endblock %}
