{% extends "base.html" %} 
{% block title %}Edit Recipe{% endblock %} 
{% block content %}

<h2>Edit Recipe</h2>

<div class="row card-panel grey lighten-5">
  <form
    class="col s12"
    method="POST"
    action="{{ url_for('routes.edit_recipe', recipe_id=recipe.recipe_id) }}"
    enctype="multipart/form-data">
    <h5>Recipe Details</h5>
    <div class="row">
      <div class="input-field col s12">
        <!-- Recipe Name field -->
        <input
          id="recipe_name"
          name="recipe_name"
          minlength="5"
          maxlength="55"
          type="text"
          class="validate"
          value="{{ recipe.recipe_name }}"
          required >
        <label for="recipe_name">Recipe Name (required)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <!-- Recipe Description field -->
        <textarea
          id="recipe_desc"
          name="recipe_desc"
          class="materialize-textarea"
          required>
{{ recipe.recipe_desc }}</textarea
        >
        <label for="recipe_desc">Recipe Description (required)</label>
      </div>
    </div>

    <!-- Tags field -->
    <div class="row">
      <div class="input-field col s12">
        <input
          type="text"
          id="tags_input"
          name="tags"
          data-url="{{ url_for('routes.autocomplete_tags') }}"
          value="{% if recipe.entity_tags %}{{ recipe.entity_tags | selectattr('recipe_tag') | map(attribute='recipe_tag.tag_name') | join(', ') }}{% endif %}" >
        <label for="tags_input">Tags (Optional, comma separated)</label>
      </div>
    </div>

    <!-- Stages for Instructions -->
    <div class="row">
      {% for stage in recipe.stages %}
      <div class="row multi-stage" data-stage-id="{{ stage.stage_id }}">
        <h6 class="center-align">Recipe Stage {{ stage.stage_num }}</h6>
        <!-- Hidden input to track existing stage IDs -->
        <input type="hidden" name="stage_ids[]" value="{{ stage.stage_id }}" >
        <input
          type="hidden"
          name="stage_nums[]"
          value="{{ stage.stage_num }}" >

        <!-- Instruction Field -->
        <div class="input-field col s7">
          <textarea
            id="instructions_{{ stage.stage_num }}"
            name="instructions[]"
            class="materialize-textarea"
            required>
{{ stage.instructions }}</textarea
          >
          <label for="instructions_{{ stage.stage_num }}"
            >Stage {{ stage.stage_num }} Instructions (required)</label
          >
        </div>

        <!-- Image Container or File Input Container -->
        {% if stage.recipe_images %}
        <!-- Existing Image Container -->
        <div
          id="image_container_{{ stage.stage_num }}"
          class="col s5 center-align">
          <img
            src="{{ stage.recipe_images[0].thumbnail_url }}"
            alt="{{ stage.recipe_images[0].alt_text }}"
            class="responsive-img" >
          <p>{{ stage.recipe_images[0].alt_text }}</p>
          <button
            class="delete_image_button btn red darken-4"
            type="button"
            data-stage-num="{{ stage.stage_num }}">
            Delete Image
          </button>
          <!-- Hidden input to track image ID and deletion flag -->
          <input
            type="hidden"
            name="image_ids[]"
            value="{{ stage.recipe_images[0].image_id }}" >
          <input
            type="hidden"
            name="delete_image_{{ stage.stage_num }}"
            value="false"
            class="delete_image_flag" >
        </div>
        {% else %}
        <!-- Placeholder Image Container -->
        <div
          id="image_container_{{ stage.stage_num }}"
          class="col s5 center-align">
          <img
            src="https://res.cloudinary.com/dlmbpbtfx/image/upload/v1728052910/placeholder.png"
            alt="Default Image"
            class="responsive-img" >
          <button
            type="button"
            class="delete_image_button btn red lighten-1"
            data-stage-num="{{ stage.stage_num }}">
            Delete Image
          </button>
          <!-- Hidden input to track image ID and deletion flag -->
          <input type="hidden" name="image_ids[]" value="" >
          <input
            type="hidden"
            name="delete_image_{{ stage.stage_num }}"
            value="false"
            class="delete_image_flag" >
        </div>
        {% endif %}

        <!-- File Input Container (Hidden on load) -->
        <div
          id="file_input_container_{{ stage.stage_num }}"
          class="col s5"
          style="display: none">
          <div class="file-field input-field">
            <div class="btn">
              <span>Upload New Image</span>
              <input type="file" name="images[]" accept="image/*" >
            </div>
            <div class="file-path-wrapper">
              <input
                class="file-path validate"
                type="text"
                placeholder="Stage {{ stage.stage_num }} image" >
            </div>
            <!-- Alt Text Field -->
            <div class="input-field">
              <textarea
                id="image_desc_{{ stage.stage_num }}"
                name="image_desc[]"
                class="materialize-textarea"></textarea>
              <label for="image_desc_{{ stage.stage_num }}"
                >Image Description</label
              >
            </div>
            <button
              type="button"
              class="cancel_replace_button btn grey lighten-1"
              data-stage-num="{{ stage.stage_num }}">
              Cancel
            </button>
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- Buttons to handle adding/deleting rows -->
      <div class="row">
        <div class="col s12 center-align">
          <button type="button" class="add_field btn teal darken-2">Add Stage</button>
          <button type="button" class="remove_field btn teal darken-2">Remove Stage</button>
        </div>
      </div>

      <!-- Button to submit the recipe -->
      <div class="row">
        <div class="col s12 center-align">
          <button
            type="submit"
            class="btn-small light-blue darken-4"
            id="submitButton">
            Save Edited Recipe
          </button>
        </div>
      </div>
    </div>
  </form>
  <!-- Modal Structure -->
  <div id="modal1-{{ user.id }}" class="modal">
    <div class="modal-content">
      <h4>Confirm Account Deletion!</h4>
      <p>Are you sure you want to delete your account?</p>
    </div>
    <div class="modal-footer">
      <button class="modal-close btn green" type="button">Cancel</button>
      <button type="submit" class="btn red" form="delete-account-form-{{ user.id }}">Delete</button>
    </div>
  </div>
</div>

{% endblock %}
