{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

  <!-- Logged in Display -->
  {% if user.is_authenticated %}
    <div class="row">
      <!-- Add Recipe Card -->
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img class="responsive-img recipe-card-img" src="{{ url_for('static', filename='images/palette.webp') }}" alt="Add Recipe">
          </div>
          <div class="card-content center-align">
            <span class="card-title add-cards">Add Recipe</span>
            <p class="add-card-feature">Add a new paint recipe</p>
            <a href="{{ url_for('routes.add_recipe') }}" class="btn-small indigo">Add Recipe</a>
          </div>
        </div>
      </div>
      <!-- Add Paint Card -->
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img class="responsive-img recipe-card-img" src="{{ url_for('static', filename='images/paint_library.png') }}" alt="Add Paint">
          </div>
          <div class="card-content center-align">
            <span class="card-title add-cards">Add Paint</span>
            <p class="add-card-feature">Feature Coming Soon</p>
            <div class="tooltip-container" data-tooltip="Feature coming soon">
              <a href="#" class="btn-small disabled">Add Paint</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!-- Member Recipes Section -->
  <h1 class="center-align">Member Paint Recipes</h1>
  <div class="row">
    {% for recipe in recipes %}
      <div class="row-height">
        <div class="col s12 m6 l4 recipe-cards">
          <div class="card center-align">
            <div class="card-image waves-effect waves-block waves-light">
              <!-- https://stackoverflow.com/questions/3727045/set-variable-from-another-variable-in-jinja -->
               <!-- https://oznetnerd.com/2017/04/18/jinja2-selectattr-filter/ -->
              {% set stage = recipe.stages | selectattr('is_final_stage') | first %}
              {% if stage and stage.recipe_images %}
                <a href="{{ url_for('routes.recipe_page', recipe_id=recipe.recipe_id) }}">
                  <img src="{{ stage.recipe_images[0].thumbnail_url }}"
                      alt="{{ stage.recipe_images[0].alt_text }}">
                </a>
              {% else %}
                <a href="{{ url_for('routes.recipe_page', recipe_id=recipe.recipe_id) }}">
                  <img src="{{ url_for('static', filename='images/placeholder-mid.webp') }}" alt="Default Image">
                </a>
              {% endif %}
            </div>
            <div class="card-content">
              <a href="{{ url_for('routes.recipe_page', recipe_id=recipe.recipe_id) }}" class="links">
                <h4 class="grey-text text-darken-4 recipe-title">{{ recipe.recipe_name }}</h4>
              </a>
              <p class="grey-text text-darken-4">Creator: {{ recipe.user.username }}</p>
              <p>
                <span class="activator card-title">
                  <i class="fas fa-caret-up"> Recipe Description</i>
                </span>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title">
                <i class="fas fa-caret-down"> Close</i>
              </span>
              <p class="preserve-whitespace">{{ recipe.recipe_desc }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  

    <!-- Pagination Controls -->
    {% if page > 1 or page < total_pages %}
      <ul class="pagination center-align">
        <!-- Previous Button -->
        {% if page > 1 %}
          <li class="waves-effect">
            <a href="{{ url_for('routes.home', page=page-1) }}>
              <i class="fas fa-chevron-left"></i>
            </a>
          </li>
        {% else %}
          <li class="disabled">
            <a href="#!">
              <i class="fas fa-chevron-left"></i>
            </a>
          </li>
        {% endif %}

        <!-- Page Numbers -->
        {% for p in range(1, total_pages + 1) %}
          {% if p == page %}
            <li class="active"><a href="#">{{ p }}</a></li>
          {% else %}
            <li class="waves-effect"><a href="{{ url_for('routes.home', page=p) }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        <!-- Next Button -->
        {% if page < total_pages %}
          <li class="waves-effect">
            <a href="{{ url_for('routes.home', page=page+1) }}>
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
        {% else %}
          <li class="disabled">
            <a href="#!">
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}

  {% else %}

    <!-- Not Logged In Display -->
    <div class="carousel-container col s12 center-align">
      <h1 class="carousel-title center-align mb-small">Our Members Paint Recipes</h1>
      <div class="carousel">
        {% for recipe in recipes[:6] %}
          <a class="carousel-item" href="{{ url_for('routes.recipe_page', recipe_id=recipe.recipe_id) }}">
            <div class="card recipe-cards">
              <div class="card-image waves-effect waves-block waves-light">
                {% for stage in recipe.stages %}
                  {% if stage.is_final_stage %}
                    {% if stage.recipe_images %}
                      <img class="activator" src="{{ stage.recipe_images[0].thumbnail_url }}" alt="{{ stage.recipe_images[0].alt_text }}">
                    {% else %}
                      <img class="activator" src="{{ url_for('static', filename='images/placeholder-mid.webp') }}" alt="Default Image">
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
              <div class="card-content">
                <div class="grey-text text-darken-4">
                  <p>{{ recipe.recipe_name }}</p>
                  <p class="grey-text text-darken-1">Author: {{ recipe.user.username }}</p>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>

    <!-- Join Us Section -->
    <div class="center-align">
      <h2>Join Us</h2>
      <p>Joining the site will allow you to see many more recipes belonging to our members as well as adding your own contributions and much more</p>
    </div>
    <div class="row">
      <div class="col s6 right-align">
        <a href="{{ url_for('auth.login') }}" class="btn waves-effect teal darken-2 waves-light">
          Login
        </a>
      </div>
      <div class="col s6 left-align">
        <a href="{{ url_for('auth.register') }}" class="btn waves-effect teal darken-2 waves-light">
          Register
        </a>
      </div>
    </div>

  {% endif %}
  
{% endblock %}
