{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<!--Logged in Display-->
{% if user.is_authenticated %}
<div class="row">
  <div class="col s12 center-align">
    <div class="col s6 m6 large">
      <div class="card horizontal small-card">
        <div class="card-image">
          <img
            src="{{ url_for('static', filename='images/paint_library.png') }}"
            alt="Add Recipe" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h2 class="card-title">Add Paint</h2>
            <p>Feature Coming Soon</p>
            <a href="#" class="btn-small light-blue disabled">Add Paint</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s6 m6 large">
      <div class="card horizontal small-card">
        <div class="card-image">
          <img
            src="{{ url_for('static', filename='images/palette.png') }}"
            alt="Add Recipe" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h2 class="card-title">Add Recipe</h2>
            <p>Add a new paint recipe</p>
            <a
              href="{{ url_for('routes.add_recipe') }}"
              class="btn-small light-blue"
              >Add Recipe</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="center-align">Member recipes</h3>
  <div class="row">
    {% for recipe in recipes[:6] %}
    <div class="col s6 m4 recipe-cards">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          {% for stage in recipe.stages %} 
            {% if stage.is_final_stage %} 
              {% if stage.recipe_images %}
                <a
                  href="{{ url_for('routes.recipe_page', recipe_id=recipe.recipe_id) }}">
                  <img
                    src="{{ stage.recipe_images[0].thumbnail_url }}"
                    alt="{{ stage.recipe_images[0].alt_text }}" />
                </a>
              {% else %}
                <img
                  class="activator"
                  src="{{ url_for('static', filename='images/placeholder.png')}}"
                  alt="placeholder image" />
              {% endif %}
            {% endif %} 
          {% endfor %}
        </div>
        <div class="card-content">
          <h5>
            <span class="grey-text text-darken-4">{{ recipe.recipe_name }}</span>
          </h5>
          <p>
            <span class="activator grey-text text-darken-4"
              ><i class="fas fa-expand-arrows-alt"> Recipe Description</i></span
            >
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            ><i class="fas fa-times"> Close</i></span
          >
          <p>{{ recipe.recipe_desc }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  {% else %}

  <!-- Not Logged In Display -->

  <div class="carousel-container col s12 center-align">
    <h3 class="carousel-title center-align mb-small">Our Members Paint Recipes</h3>
    <div class="carousel">
        {% for recipe in recipes[:12] %}
        <a
          class="carousel-item"
          href="{{ url_for('routes.recipe_page', recipe_id=recipe.recipe_id) }}">
          <div class="card recipe-cards">
            <div class="card-image waves-effect waves-block waves-light">
              {% for stage in recipe.stages %} 
                {% if stage.is_final_stage %} 
                  {% if stage.recipe_images %}
                    <img
                      class="activator"
                      src="{{ stage.recipe_images[0].thumbnail_url }}"
                      alt="{{ stage.recipe_images[0].alt_text }}" />
                  {% else %}
                    <img
                      class="activator"
                      src="{{ url_for('static', filename='images/placeholder.png') }}"
                      alt="placeholder image" />
                  {% endif %} 
                {% endif %} 
              {% endfor %}
            </div>
            <div class="card-content">
              <span class="grey-text text-darken-4">
                <p>{{ recipe.recipe_name }}</p>
                <p class="grey-text text-darken-1">Author: {{ recipe.user.username }}</p>
              </span>

            </div>
          </div>
        </a>
        {% endfor %} 
    </div>
  </div>

  <h4 class="center-align">Join Us</h4>

  <div class="row">
    <div class="col s6  right-align">
      <button class="btn waves-effect waves-light" type="submit" name="action" onclick="window.location.href='{{ url_for('auth.login') }}'">
        Login
      </button>
    </div>
    <div class="col s6  left-align">
      <button class="btn waves-effect waves-light" type="button" name="action" onclick="window.location.href='{{ url_for('auth.register') }}'"
      >
        Register
      </button>
    </div>
  </div>

  {% endif %} 
  {% endblock %}
