{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

  <div class="image-container">
    <img
      class="site_logo"
      src="{{ url_for('static', filename='images/logo.png') }}"
      alt="Site Logo" >
  </div>

  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('auth.login') }}">
      <div class="row">
        <!-- Username or Email Address Field -->
        <div class="input-field col s12">
          <input
            id="login"
            type="text"
            name="login"
            minlength="5"
            maxlength="55"
            class="validate"
            required >
          <label for="login">Username or Email Address</label>
        </div>
      </div>
      
      <div class="row">
        <!-- Password Field -->
        <div class="input-field col s12">
          <input
            id="password"
            type="password"
            name="password"
            minlength="7"
            maxlength="100"
            class="validate"
            required >
          <label for="password">Enter Password</label>
        </div>
      </div>
      
      <div class="row">
        <!-- Login Button -->
        <div class="col s6 right-align">
          <button class="btn waves-effect waves-light" type="submit" name="action">
            Login
          </button>
        </div>
        
        <!-- Register Button -->
        <div class="col s6 left-align">
          <a
          href="{{ url_for('auth.register') }}"
          class="btn waves-effect waves-light">
          Register
        </a>
        </div>
      </div>
    </form>
  </div>

{% endblock %}
