{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block content %}

  <div class="row">
    <!-- Column for the Heading -->
    <div class="col s6">
      <h3>All User Recipes</h3>
    </div>

    <!-- Column for the Search Form -->
    <div class="col s6">
      <form action="{{ url_for('admin.recipe_search') }}" method="GET">
        <div class="row">
          <!-- Input Field Column -->
          <div class="input-field col s8">
            <input
              id="recipe_search"
              type="text"
              name="recipe_search"
              class="validate"
              placeholder="Search Recipe Names..."
              required >
            <label for="recipe_search">Search</label>
          </div>

          <!-- Button Column -->
          <div class="input-field col s4" style="margin-top: 20px">
            <button
              class="waves-effect waves-light btn-small blue darken-4"
              type="submit"
              name="action">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    {% for recipe in recipes %}
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            {% for stage in recipe.stages %}
              {% if stage.is_final_stage %}
                {% if stage.recipe_images %}
                  <a href="{{ url_for('routes.recipe_page', recipe_id=recipe.recipe_id) }}">
                    <img src="{{ stage.recipe_images[0].thumbnail_url }}" alt="{{ stage.recipe_images[0].alt_text }}" >
                  </a>
                {% else %}
                  <img class="activator" src="{{ url_for('static', filename='images/placeholder-mid.webp') }}" alt="Default Image" >
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="card-content">
            <p class="grey-text text-darken-4">{{ recipe.recipe_name }}</p>
            <p class="grey-text text-darken-4">Creator: {{ recipe.user.username }}</p>
            <p>
              <span class="activator grey-text text-darken-4">
                <i class="fas fa-caret-up"> Recipe Description</i>
              </span>
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <i class="fas fa-caret-down"> Close</i>
            </span>
            <p>{{ recipe.recipe_desc }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Pagination Controls -->
  {% if page > 1 or page < total_pages %}
    <ul class="pagination center-align">
      <!-- Previous Button -->
      {% if page > 1 %}
        <li class="waves-effect">
          <a href="{{ url_for('admin.recipe_admin', page=page-1) }}">
            <i class="fas fa-chevron-left"></i>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#!">
            <i class="fas fa-chevron-left"></i>
          </a>
        </li>
      {% endif %}

      <!-- Page Numbers -->
      {% for p in range(1, total_pages + 1) %}
        {% if p == page %}
          <li class="active"><a href="#">{{ p }}</a></li>
        {% else %}
          <li class="waves-effect"><a href="{{ url_for('admin.recipe_admin', page=p) }}">{{ p }}</a></li>
        {% endif %}
      {% endfor %}

      <!-- Next Button -->
      {% if page < total_pages %}
        <li class="waves-effect">
          <a href="{{ url_for('admin.recipe_admin', page=page+1) }}">
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#!">
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}

{% endblock %}
