{% extends "base.html" %}
{% block content %}

<h2>Recipes</h2>

<div class="row">
  <div class="col s4 m4">
  {% for recipe in recipes %}
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        {% for stage in recipe.stages %}
          {% if stage.is_final_stage %}
            <img class="activator" src="{{ stage.recipe_images[0].thumbnail_url }}">
          {% endif %}  
        {% endfor %}
        </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}<i class="material-icons right">close</i></span>
        <p>{{ recipe.recipe_desc }}</p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>


{% endblock %}