<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Deleted</title>
</head>
  <body>
    <p>Hey {{ username }},</p>
    <p>Unfortunately we have had to delete your account, either at your request
    or due to an issue with your usage of the site or your account.</p>
    <p>Your account and all associated data have been deleted.</p>
    <p>Thanks,<br>
    The Colourforge Team</p>
    </body>
</html>
