<html>
        <body>
            <p>Hi {{ username }},</p>
            <p>We wanted to inform you that your password was changed by an admin.</p>
            <p>If you requested this change, no further action is needed and the admin
              will be in touch with your new password shortly.</p>
            <p>If you did not request a password change, please contact us
            immediately using the link below to secure your account:</p>
            <p>
              <a href="https://colourforge.co.uk/contact">Contact Support</a>
            </p>
            <p>Thanks,<br>
            The Colourforge Team</p>
        </body>
    </html>